{% extends 'app/dummy.html' %}

{% block title %}
    <title>School Create</title>
{% endblock %}

{% block body_block %}

<center>
    {% if form.instance.pk %}
        <h1>Update Form</h1>
    {% else %}
        <h1>School Form</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if form.instance.pk %}
            <input type="submit" value="Update" class="btn btn-primary">
        {% else %}
            <input type="submit" value="Create" class="btn btn-info">
        {% endif %}
    </form>
</center>

{% endblock %}